{% load static %}

<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        {% block title %}<title>She Codes News</title>{% endblock %}
        <meta name="description" content="">
        <meta name="author" content="JENNY">
        <link href="https://fonts.googleapis.com/css?family=Manjari&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
            {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <header>
            <div id="header-text">
                <a id="header-link" href="{% url 'news:index' %}">
                    <h1>She Codes News</h1>
                </a>
            </div>
            {% include './nav.html' %}
        </header>

        {% block content %}{% endblock %}
    </body>

    <footer>
        <h4>Created by <a href="https://jenguyenanhnhu.github.io/">Jenny Nguyen.</a></h4>
    </footer>
</html>

